[submodule "Algorithm/math-skills"]
	path = Algorithm/math-skills
	url = https://github.com/Katerina1789/math-skills.git
[submodule "Imperative/git"]
	path = Imperative/git
	url = https://github.com/Katerina1789/git.git
[submodule "Imperative/go-reloaded"]
	path = Imperative/go-reloaded
	url = https://github.com/Katerina1789/go-reloaded.git
[submodule "Imperative/tetris-optimizer"]
	path = Imperative/tetris-optimizer
	url = https://github.com/Katerina1789/tetris-optimizer.git
[submodule "Piscines/piscine-go"]
	path = Piscines/piscine-go
	url = https://github.com/Katerina1789/Piscine-Go.git
[submodule "Piscines/piscine-js"]
	path = Piscines/piscine-js
	url = https://github.com/Katerina1789/Piscine-JS.git
[submodule "Imperative/atm-management-system"]
	path = Imperative/atm-management-system
	url = https://github.com/Katerina1789/atm-management-system.git
[submodule "Imperative/push-swap"]
	path = Imperative/push-swap
	url = https://github.com/Katerina1789/push-swap.git
[submodule "Imperative/ascii-art-web"]
	path = Imperative/ascii-art-web
	url = https://github.com/Katerina1789/ascii-art-web.git